@mixin  flex($justifycontent,$alignItems){
  display: flex;
  justify-content: $justifycontent;
  align-items: $alignItems;
}
@mixin triangle-up($size, $color){
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $color;
}
